<a href="https://colab.research.google.com/github/paishowstopper/TSAI/blob/main/Session8_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 write a python program to remove punctuations from a string
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
input = "Hi! This;: is() a random- sentence [{with}] punctuations~$%? added \ all / over the place with <no> meaning& Just to test some code_"
input_no_punctuations = ''

for char in input:
  if char not in punctuations:
    input_no_punctuations += char

print(input_no_punctuations)

Hi This is a random sentence with punctuations added  all  over the place with no meaning Just to test some code

In [2]:
#2 write a program to check if a word is a palindrome
input = 'saippuakivikauppias'
ip_lower = input.lower()
ip_reversed = reversed(ip_lower)
if list(ip_lower) == list(ip_reversed):
  print(input, 'is a palindrome')
else:
  print(input, 'is not a palindrome')

saippuakivikauppias is a palindrome

In [3]:
#3 write a program to find factors of a number
input = 366
for i in range(1, input+1):
  if input % i == 0:
    print(i)

1
2
3
6
61
122
183
366

In [4]:
#4 write a program to write the multiplication table of a number
input = 3
for i in range(1, 11):
  print(input, 'x', i, '=', input*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [5]:
#5 write a program to write the factorial of a number
input = 7
result = 1
for i in range(1, input+1):
  result = result*i

print(result)

5040

In [6]:
#6 write a program to check if a number is prime
input = 31
for i in range(2, input):
  if input % i == 0:
    print(input, 'is not a prime number')
    break
else:
  print(input, 'is a prime number')

31 is a prime number

In [7]:
#7 write a program to calculate the area of a triangle
a = 5
b = 6
c = 7

s = (a + b + c)/2

area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print(area)

14.696938456699069

In [8]:
#8 write a program to print the Armstrong numbers in an interval
x = 0
y = 500

for i in range(x, y):
  temp = i
  sum = 0
  while temp > 0:
    digit = temp%10
    sum += digit ** 3
    temp //= 10
  if i == sum:
    print(i)

0
1
153
370
371
407

In [9]:
#9 write a program to find the numbers in a list divisible by another number (using lambda)
ip_list = [142, 14, 156, 678, 358, 987, 773]
divisor = 17

output = list(filter(lambda x: (x % divisor == 0), ip_list))

print('Numbers divisible by ' + str(divisor) + ' are', output)

Numbers divisible by 17 are []

In [10]:
#10 write a program to show squares of n numbers (using lambda)
n = 10

output = list(map(lambda x: x ** 2, range(n)))

for i in range(n):
   print(output[i])

0
1
4
9
16
25
36
49
64
81

In [11]:
#11 write a program to check if an array is monotonic (increasing or decreasing)
input = [11, 9, 8, 7, 7, 5]
length = len(input)
if (all(input[i] >= input[i+1] for i in range(length-1)) or all(input[i] <= input[i+1] for i in range(length-1))):
  print(True)
else:
  print(False)

True

In [12]:
#12 write a function to convert a number from decimal to binary
def convert(n):
    if n > 1:
        convert(n // 2)
    print(n % 2, end='')

convert(150)

10010110

In [13]:
#13 write a program to convert a list to string using list comprehension
input = ['My', 'name', 'is', 'Mahesh', ',', 'I', 'am', 30, 'years', 'old', 'and', 'I', 'live', 'in', 'Bangalore'] 

string = ' '.join([str(i) for i in input]) 
  
print(string)

My name is Mahesh , I am 30 years old and I live in Bangalore

In [14]:
#14 write a program to remove words of a specific length from a string

input = 'The school of ai is the best school to learn AI'
length = 5
  
temp = input.split() 
  
output = list(filter(lambda elt: len(elt) != length, temp)) 
output = ' '.join(output) 
  
print(output)

The school of ai is the best school to AI

In [15]:
#15 write a program to count the bidirectional pairs in a tuple
input = [(5, 6), (1, 2), (6, 5), (1, 2), (6, 5), (2, 1), (3, 4), (6, 7), (7, 7), (7, 6)] 
  
output = 0
for index1 in range(0, len(input)): 
    for index2 in range(index1 + 1, len(input)): 
        if input[index2][0] == input[index1][1] and input[index2][1] == input[index1][0]: 
            output += 1
  
print("Number of Bidirectional pairs: " + str(output))

Number of Bidirectional pairs: 5

In [16]:
#16 write a program extract string after nth occurrence of a specific character  
input = 'theschoolofai'
  
c = 'o'
n = 3

res = input.split(c, n)[-1]
  
print(res)

fai

In [17]:
#17 write a program to generate a random binary number and convert it into decimal
import random
input = 10
binary = ''
for i in range(input): 
    temp = str(random.randint(0, 1)) 
    binary += temp 
          
print(int(binary,2))

330

In [18]:
#18 write a program to extract strings without numbers from a list
input = ['skool', 'b4', 'bff4ever', 'u2', 'cool', 'rox'] 
  
output = list(filter(lambda elt: elt.isalpha(), input)) 
  
print(str(output))

['skool', 'cool', 'rox']

In [19]:
#19 write a program to print the least appearing character in a string
input = 'theschoolofai'
  
alpha_dict = {} 
for i in input: 
    if i in alpha_dict: 
        alpha_dict[i] += 1
    else: 
        alpha_dict[i] = 1
output = min(alpha_dict, key = alpha_dict.get) 
print(output)

t

In [20]:
#20 write a program to check if a string is a pangram
import string 

alphabets = set(string.ascii_lowercase) 
string = 'the quick brown fox jumps over the lazy dog'

for char in alphabets: 
    if char not in string.lower(): 
        print('The input is not a pangram')
        break
else:
    print('The input is a pangram')

The input is a pangram

In [21]:
#21 write a program to display yesterday, today and tomorrow
from datetime import datetime, timedelta 

today = datetime.now()
yesterday = today - timedelta(1) 
tomorrow = today + timedelta(1) 

print("Yesterday = ", yesterday.strftime('%d-%m-%Y')) 
print("Today = ", today.strftime('%d-%m-%Y')) 
print("Tomorrow = ", tomorrow.strftime('%d-%m-%Y'))

Yesterday =  16-12-2020
Today =  17-12-2020
Tomorrow =  18-12-2020

In [22]:
#22 write a program to convert a string in a valid format to datetime
import datetime

ip_string = 'Dec 26 2020'

format = '%b %d %Y'
dt = datetime.datetime.strptime(ip_string, format) 
   
print(dt)

2020-12-26 00:00:00

In [23]:
#23 write a recursive function to print the nth Fibonacci numer
def fn_fib(n):
   if n <= 1:
       return n
   else:
       return(fn_fib(n-1) + fn_fib(n-2))

input = 15

if input <= 0:
   print("Invalid input")
else:
   for i in range(input):
       output = fn_fib(i)

print(output)

377

In [24]:
#24 write a function(s) to check if a number is a Fibonacci number
# A number is a Fibonacci number if 5*n*n + 4 or 5*n*n - 4 or both is a perfect square 
import math

def isSquare(x): 
    y = int(math.sqrt(x))
    return y**2 == x
  
def isFibonacci(n):
    n1 = n**2
    return isSquare(5*n1 + 4) or isSquare(5*n1 - 4)

input = 8
if (isFibonacci(input) == True): 
    print(input, "is a Fibonacci Number")
else:
    print (input, "is a not Fibonacci Number")

8 is a Fibonacci Number

In [25]:
#25 write a program to print the count of each vowel in a string
vowels = 'aeiou'

input = 'The school of ai teaches a wide variety of advanced machine learning and artificial intelligence courses'
input = input.lower()

count = {}.fromkeys(vowels,0)

for chr in input:
   if chr in count:
       count[chr] += 1

print(count)

{'a': 11, 'e': 12, 'i': 10, 'o': 5, 'u': 1}

In [26]:
#26 write a program to transpose a matrix (size known)
input = [[6,8],[15,89],[44,0]] #3x2
output = [[0,0,0],[0,0,0]] #2x3 initialized

for i in range(len(input)):
   for j in range(len(input[0])):
       output[j][i] = input[i][j]

print(output)

[[6, 15, 44], [8, 89, 0]]

In [27]:
#27 write a program to multiply 2 matrices (size known)

#2x3
X = [[6,8,89],
     [15,0,44]]
#3x4
Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]

#2x4
output = [[0,0,0,0],
         [0,0,0,0]]

for i in range(len(X)):
   for j in range(len(Y[0])):
       for k in range(len(Y)):
           output[i][j] += X[i][k] * Y[k][j]

print(output)

[[434, 549, 831, 101], [251, 340, 411, 74]]

In [28]:
#28 write a program to find the LCM of 2 numbers
x = 15
y = 40
z = x if x > y else y

while(True):
    if((z % x == 0) and (z % y == 0)):
        lcm = z
        break
    z += 1

print(lcm)

120

In [29]:
#29 write a program to find the HCF of 2 numbers
x = 20
y = 40
z = x if x > y else y

for i in range(1, z+1):
  if((x % i == 0) and (y % i == 0)):
    hcf = i

print(hcf)

20

In [30]:
#30 write a program to calculate compoud interest
principal = 1000
interest = 4
years = 2

amount = principal*((1 + interest/100)**years)
ci = amount - principal

print("Compound interest is", ci)

Compound interest is 81.60000000000014

In [31]:
#31 Write a program that stutters a word as if someone is struggling to read it.
# "incredible" ➞ "in... in... incredible?"
# "enthusiastic" ➞ "en... en... enthusiastic?"
word = 'outstanding'
stutter = (word[:2] + '... ')*2
print(stutter + word + '?')

ou... ou... outstanding?

In [32]:
#32 write a program to check if Values total is greater than Keys total in a dictionary
input = {
    1: 77, 
    2: 12, 
    3: 14, 
    4: 64, 
    5: 88, 
} 

output_keys = 0
output_values = 0
for i in input:
  output_keys += output_keys+i
  output_values += output_keys+input[i]

if output_values > output_keys:
  print(True)
else:
  print(False)

True

In [33]:
#33 write a program to merge two dictionaries (remove duplicate keys)
  
input1 = [{1: "Mahesh", 2: "Rohan"}, {3: "Zoheb", 10: "Senthil"}, {5: "Manish"}] 
input2 = [{1: "Mahesh", 6: "Sreejith"}, {3: "Sravan", 4: "Binu", 7: "Kumar"}, {11: "Rama"}] 
  
for i in range(0, len(input1)): 
    input1_keys = list(input1[i].keys()) 
    for key in input2[i]: 
        if key not in input1_keys: 
            input1[i][key] = input2[i][key] 
  
print(input1)

[{1: 'Mahesh', 2: 'Rohan', 6: 'Sreejith'}, {3: 'Zoheb', 10: 'Senthil', 4: 'Binu', 7: 'Kumar'}, {5: 'Manish', 11: 'Rama'}]

In [34]:
#34 write a program to reverse the key-value pair in a dictionary
input = {
    1: 77, 
    2: 12, 
    3: 14, 
    4: 64, 
    5: 88, 
    6: 12
} 

output = {}
for key, value in input.items():
  if value in output:
       output[value].append(key)
  else: 
       output[value] = [key]
print(output)

{77: [1], 12: [2, 6], 14: [3], 64: [4], 88: [5]}

In [35]:
#35 write a program to check if a dictionary has unique keys
input = {1: "Mahesh", 2: "Rohan", 3: "Zoheb", 4: "Senthil", 5: "Manish", 1: "Mahesh", 6: "Sreejith"}

output = (len(input) != len(set(input.values())))

print("Dictionary has unique keys : " + str(output))

Dictionary has unique keys : False

In [36]:
#36 write a program to split dictionary key-value pairs into separate lists
input = {1: "Mahesh", 2: "Rohan", 3: "Zoheb", 4: "Senthil", 5: "Manish", 1: "Mahesh", 6: "Sreejith"}

keys = input.keys() 
values = input.values() 
  
print ("Keys : ", keys) 
print ("Values : ", values)

Keys :  dict_keys([1, 2, 3, 4, 5, 6])
Values :  dict_values(['Mahesh', 'Rohan', 'Zoheb', 'Senthil', 'Manish', 'Sreejith'])

In [37]:
#37 write a program to sort a dictionary (using lambda)
input = {3: "Zoheb", 6: "Sreejith", 4: "Senthil", 2: "Rohan", 5: "Manish", 1: "Mahesh"} 
output = (sorted(input.items(), key=lambda x: x[1])) 
  
print("Sorted dictionary using lambda: ", output)

Sorted dictionary using lambda:  [(1, 'Mahesh'), (5, 'Manish'), (2, 'Rohan'), (4, 'Senthil'), (6, 'Sreejith'), (3, 'Zoheb')]

In [38]:
#38 write a program to find largest element in an array
input = [2101, 314, 6456, 190, 1989] 
n = len(input)

largest = input[0] 
  
for i in range(1, n):
  if input[i] > largest:
    largest = input[i]
print(largest)

6456

In [39]:
#39 write a program to find the largest n-digit number divisible by x
x = 13
n = 7

largest = 10**n - 1
print(largest-(largest%x))

9999990

In [40]:
#40 write a program to find the sum of a (1/1! + 2/2! + 3/3! + 4/4! +...+ n/n!)
n = 5
output = 0
factorial = 1
      
for i in range(1, n+1):
  factorial *= i
  output = output + (i/factorial)

print(output)

2.708333333333333

In [41]:
#41 write a program to trim a tuple by n
input = [(5, 3, 2, 1, 4), (3, 4, 9, 2, 1), 
             (9, 1, 2, 3, 5), (4, 8, 2, 1, 7)] 
n = 1

output = [tuple(list(ele)[n: len(ele) - n]) for ele in input] 
print(output)

[(3, 2, 1), (4, 9, 2), (1, 2, 3), (8, 2, 1)]

In [42]:
#42 write a program to remove None tuples from a list 
input = [(None, 2), (None, None), (3, 4), (12, 3), (None, )]
  
output = list(filter(lambda sub : not all(elt == None for elt in sub), input))
print(output)

[(None, 2), (3, 4), (12, 3)]

In [43]:
#43 write a program to find tuples which have all elements divisible by n
input = [(12, 18, 21), (6, 24, 12), (7, 9, 6), (3, 1, 11)]
n = 3

output = list(filter(lambda sub: all(elt % n == 0 for elt in sub), input))
print(output)

[(12, 18, 21), (6, 24, 12)]

In [44]:
#44 write a program to convert a Tuple Matrix to a Tuple List
input = [[(12, 18, 21), (6, 24, 12), (7, 9, 6), (3, 1, 11)]]

temp = [ele for sub in input for ele in sub] 

output = list(zip(*temp)) 
print(output)

[(12, 6, 7, 3), (18, 24, 9, 1), (21, 12, 6, 11)]

In [45]:
#45 write a program to convert a dictionary to a tuple
input = [{'a':['Africa', 'Australia'], 'b':['Banaras', 'Bhutan']}, {'c':['Cambodia', 'California'], 'd':['Denmark', 'Delhi']}] 
  
output = [(key,)+tuple(val) for dict in input for key, val in dict.items()] 

print(output)

[('a', 'Africa', 'Australia'), ('b', 'Banaras', 'Bhutan'), ('c', 'Cambodia', 'California'), ('d', 'Denmark', 'Delhi')]

In [46]:
#46 write a program to sort & flatten a tuple of list
input = ([5, 6], [6, 7, 8, 9], [3])
  
output = sorted([j for i in input for j in i])
print(output)

[3, 5, 6, 6, 7, 8, 9]

In [47]:
#47 write a program to rotate a string a n characters
input = 'theschoolofai'
length = len(input)
n=2
print(input[length-n:]  + input[0:length-n])

aitheschoolof

In [48]:
#48 write a program to check if two words have the same alphabets
str1 = 'a,e,i,o,u'
str2 = 'e,i,a,u,o'
  
output = sorted(str1.split(',')) == sorted(str2.split(',')) 
print(output)

True

In [49]:
#49 write a program to check if a string can become empty by recursive deletion
input = 'gugugurururu'
pattern = 'guru'
output = True

while (len(input) != 0):  
  index = input.find(pattern)  
  if (index == (-1)):  
    output = False
  input = input[0:index] + input[index + len(pattern):] 
print(output)

True

In [50]:
#50 write a program to calculate the time to run a python code snippet
from datetime import datetime, timedelta

starttime = datetime.now()

#code snippet
n = 100000
output = 0
factorial = 1
      
for i in range(1, n+1):
  factorial *= i
  output = output + (i/factorial)

print(output)

endtime = datetime.now()
print(starttime)
print(endtime)
print('Time taken to run the above code is:', (endtime-starttime).total_seconds(), 'seconds')

2.7182818284590455
2020-12-17 17:39:10.246584
2020-12-17 17:39:13.037960
Time taken to run the above code is: 2.791376 seconds

In [51]:
#51 write a program which mean and median of a list
import statistics, random
  
input = random.sample(range(10, 30), 10)
print(input)
  
print('Mean:', statistics.mean(input)) 
print('Median:', statistics.median(input))

[12, 21, 18, 15, 28, 22, 20, 19, 14, 24]
Mean: 19.3
Median: 19.5

In [52]:
#52 write a program which variance and std deviation of a list
import statistics, random
  
input = random.sample(range(1, 30), 10)
print(input)
  
print('Variance:', statistics.variance(input)) 
print('Std. Deviation:', statistics.stdev(input))

[20, 27, 22, 6, 13, 3, 10, 9, 23, 5]
Variance: 73.06666666666666
Std. Deviation: 8.547904226573124

In [53]:
#53 write a program to print a calendar year and print if it is a leap year (using calendar functions)
import calendar

year = 2020
print(year, 'is leap?', calendar.isleap(year))
print(calendar.calendar(year,2,1,6))

2020 is leap? True
                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [54]:
#54 write a program which tells the day when a date is provided as input
import datetime

input = datetime.datetime(2020, 12, 17)
print(input.strftime("%A"))

Thursday

In [55]:
#55 write a program showing how to use the basic mathematical functions we use in machine learning
import math 

a = 2.3
  
# Ceil
print(math.ceil(a))
  
# Floor
print (math.floor(a))

a = -10
b = 5

# Absolute value 
print(math.fabs(a))
  
# Factorial
print(math.factorial(b))
   
# exponential 
print(math.exp(a))

# a raised to b
print(math.pow(a,b))

# log2
print(math.log2(b))
   
# log10 
print(math.log10(b))
   
# Square root
print(math.sqrt(b))

3
2
10.0
120
4.5399929762484854e-05
-100000.0
2.321928094887362
0.6989700043360189
2.23606797749979

In [56]:
#56 write a program to sort the values of a list based on the values of a second list
list1 = ["t", "h", "e", "s", "c", "h", "o", "o", "l"]
list2 = [ 0,   1,   1,   0,   1,   2,   2,   0,   1]
zipped_pairs = zip(list2, list1)
z = [x for _, x in sorted(zipped_pairs)]
print(z)

['o', 's', 't', 'c', 'e', 'h', 'l', 'h', 'o']

In [57]:
#57 write a program to implement list sort
input = [23, 67, 9, 0, -88, 6, 900, -63]
length = len(input)
sorted = 0
while sorted == 0: 
    sorted = 1
    temp = 0
    for i in range(1, length-1, 2): 
        if input[i] > input[i+1]: 
            input[i], input[i+1] = input[i+1], input[i] 
            sorted = 0
                  
    for i in range(0, length-1, 2): 
        if input[i] > input[i+1]: 
            input[i], input[i+1] = input[i+1], input[i] 
            sorted = 0

print(input)

[-88, -63, 0, 6, 9, 23, 67, 900]

In [58]:
#58 write a program to check if two lists have any common elements (use sets)
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
a_set = set(a)
b_set = set(b)
output = False
if len(a_set.intersection(b_set)) > 0: 
  output = True
print(output)

True

In [59]:
#59 write a program to check if two lists are circularly identical
list1 = [5, 5, 2, 2, 5]
list2 = [5, 2, 2, 5, 5]
print(' '.join(map(str, list2)) in ' '.join(map(str, list1 * 2)))

True

In [60]:
#60 write a program to display the common elements in 2 random lists (intersection using sets)
lst1 = random.sample(range(1, 30), 10)
lst2 = random.sample(range(1, 30), 10)
print(lst1)
print(lst2)
print(list(set(lst1) & set(lst2)))

[17, 20, 25, 3, 28, 7, 22, 24, 16, 27]
[22, 11, 12, 19, 15, 16, 3, 29, 26, 10]
[16, 3, 22]

In [61]:
#61 write a program to create a sorted merged list of two unsorted lists
list1 = ["Mahesh", "Ramesh", "Rohan", "Mukesh", "Sumeet"]
list2 = ["Sravan", "Karthik", "Suresh", "Dinesh", "Suraj"]
final_list = list1 + list2
final_list.sort()
print(final_list)

['Dinesh', 'Karthik', 'Mahesh', 'Mukesh', 'Ramesh', 'Rohan', 'Sravan', 'Sumeet', 'Suraj', 'Suresh']

In [62]:
#62 write a program to retrieve the positive elements from a list of lists
input = [[10, -11, 222], [42, -222, -412, 99, -87]]
output = [[b for b in a if b>0] for a in input]
print(output)

[[10, 222], [42, 99]]

In [63]:
#63 write a program to separate the even and odd numbers in a list
input = random.sample(range(1, 100), 20)
print(input)
odd_list = [ele for ele in input if ele%2 !=0] 
even_list = [ele for ele in input if ele%2 ==0] 
print("Odd list:", odd_list) 
print("Even list:", even_list)

[14, 10, 81, 69, 51, 76, 72, 75, 34, 18, 99, 92, 84, 89, 55, 33, 67, 53, 44, 59]
Odd list: [81, 69, 51, 75, 99, 89, 55, 33, 67, 53, 59]
Even list: [14, 10, 76, 72, 34, 18, 92, 84, 44]

In [64]:
#64 write a program to iterate over multiple lists simultaneously
indices = [1, 2, 3]
alphabets = ['x', 'y', 'z']
values = [255, 256, 257]
  
for (a, b, c) in zip(indices, alphabets, values):
    print (a, b, c)

1 x 255
2 y 256
3 z 257

In [65]:
#65 write a program to check if two lists are reverse equal (do not use reversed function)
input1 = [5, 6, 7, 8]
input2 = [8, 7, 6, 5]

output = (input1 == input2[::-1])
print(output)

True

In [66]:
#66 write a program to check if element exists in list of lists
input = [[1, 2, 5, 10, 7], 
            [4, 3, 4, 3, 21], 
            [45, 65, 8, 8, 9, 9]] 
find = 3

output = any(find in sub for sub in input)
print(output)

True

In [67]:
#67 write a program to concatenate two lists element by element
input1 = ["theschool", "i", "be"]
input2 = ['ofai', 's', 'st']

output = [i + j for i, j in zip(input1, input2)] 
print(output)

['theschoolofai', 'is', 'best']

In [68]:
#68 write a program to check if all tuples have element difference less than a specific value\
input = [(3, 4), (1, 2), (7, 10), (9, 8)]
n = 2
  
output = all(abs(sub1-sub2) < n for sub1, sub2 in input)
print(output)

False

In [69]:
#69 write a program to find second most repeated word in a sequence
input = ['aaa','bbb','ccc','bbb','aaa','aaa']
from collections import Counter

c = Counter(input)
print(c.most_common()[1][0])

bbb

In [70]:
#70 write a program to convert a list of Tuples into Dictionary
tuple = [("akash", 1), ("gaurav", 2), ("anand", 3), ("suraj", 4), ("akhil", 5), ("ashish", 6)]
dictionary = dict(tuple)
print(dictionary)

{'akash': 1, 'gaurav': 2, 'anand': 3, 'suraj': 4, 'akhil': 5, 'ashish': 6}

In [71]:
#71 write a program to check if binary representations of two numbers are anagram
num1 = 8
num2 = 16

bin1 = bin(num1)[2:] 
bin2 = bin(num2)[2:] 
  
zeros = abs(len(bin1)-len(bin2)) 
if (len(bin1)>len(bin2)): 
  bin2 = zeros*'0' + bin2 
else: 
  bin1 = zeros*'0' + bin1 

dict1 = Counter(bin1) 
dict2 = Counter(bin2) 

if dict1 == dict2: 
      print('Yes') 
else: 
      print('No')

Yes

In [72]:
#72 write a program to mirror characters in a string
input = 'theschoolofai'
n = 4

alphabets = 'abcdefghijklmnopqrstuvwxyz'
reverse = 'zyxwvutsrqponmlkjihgfedcba'
dict_Chars = dict(zip(alphabets, reverse))
  
prefix = input[0:n-1]
suffix = input[n-1:]
mirror = ''
  
for i in range(0,len(suffix)):
  mirror = mirror + dict_Chars[suffix[i]]
  
print(prefix+mirror)

thehxslloluzr

In [73]:
#73 write a program which counts the number of upper and lower characters in a string
input = "theschoolofai is the BEST school ever. PERIOD."
  
output_upper = sum(map(str.isupper, input)) 
output_lower = sum(map(str.islower, input)) 
  
print("Uppercase characters #: " + str(output_upper)) 
print("Lowercase characters #: " + str(output_lower))

TypeError: ignored

In [74]:
#74 write a program which prints the element that appears more than n/2 times in an array of n numbers
from collections import Counter

input = [9,1,9,5,9,6,7,9,9]
countDict = Counter(input)
size = len(input)

for (key,val) in countDict.items():
  if (val > (size/2)):
      print(key)
      break
else:
  print('None')

9

In [110]:
#75 write a program which displays the frequency of the elements in a matrix
from collections import Counter
  
input = [[4, 5, 6], [2, 4, 5], [6, 7, 5]]
  
output = dict(sum(map(Counter, input), Counter()))
print(output)

In [76]:
#76 write a program to display the count of strings (case insensitive)
from collections import defaultdict 
  
input = ["The", "the", "school", "School", "of", "OF", "is", "IS", "GREAT"] 
  
output = defaultdict(int) 
for ele in input: 
    output[ele.lower()] += 1
  
print("Frequency : " + str(dict(output)))

Frequency : {'the': 2, 'school': 2, 'of': 2, 'is': 2, 'great': 1}

In [77]:
#77 write a program to replace character in a string
input = 'theschoolofai'
source = 'o'
target = '0'

output = map(lambda x: x if (x!=source and x!=target) else source if (x==target) else target,input)
print (''.join(output))

thesch00l0fai

In [105]:
#78 write a program to convert a list to tuple list
input = [9, 4, 5, 13, 17] 
  
output = list(zip(input))
print(output)

[(9,), (4,), (5,), (13,), (17,)]

In [111]:
#79 write a program to replace the Nth tuple element
input = [('theschoolofai', 1), ('was', 2), ('best', 3)]
print("Input: " + str(input))
repl = ('is', 2)
N = 1
output = [repl if sub[N] == repl[N] else sub for sub in input]
print("Output: " + str(output))

Input: [('theschoolofai', 1), ('was', 2), ('best', 3)]
Output: [('theschoolofai', 1), ('is', 2), ('best', 3)]

In [80]:
#80 write a program to concatenate uncommon characters of 2 strings
str1 = 'aacdb'
str2 = 'gafd'

set1 = set(str1)
set2 = set(str2)
  
common = list(set1 & set2)
result = [ch for ch in str1 if ch not in common] + [ch for ch in str2 if ch not in common]
print(''.join(result))

cbgf

In [81]:
#81 write a program to reverse each word in a sentence
input = 'theschoolofai is the best'
print(' '.join(word[::-1] for word in input.split(" ")))

iafoloohcseht si eht tseb

In [82]:
#82 write a program to print all Fridays of a year
from datetime import date, timedelta
 
year = 2020
jan_1 = date(year, 1, 1)
jan_1 += timedelta(days=5-jan_1.isoweekday())
 
while jan_1.year == year:
    print(jan_1)
    jan_1 += timedelta(days=7)

2020-01-03
2020-01-10
2020-01-17
2020-01-24
2020-01-31
2020-02-07
2020-02-14
2020-02-21
2020-02-28
2020-03-06
2020-03-13
2020-03-20
2020-03-27
2020-04-03
2020-04-10
2020-04-17
2020-04-24
2020-05-01
2020-05-08
2020-05-15
2020-05-22
2020-05-29
2020-06-05
2020-06-12
2020-06-19
2020-06-26
2020-07-03
2020-07-10
2020-07-17
2020-07-24
2020-07-31
2020-08-07
2020-08-14
2020-08-21
2020-08-28
2020-09-04
2020-09-11
2020-09-18
2020-09-25
2020-10-02
2020-10-09
2020-10-16
2020-10-23
2020-10-30
2020-11-06
2020-11-13
2020-11-20
2020-11-27
2020-12-04
2020-12-11
2020-12-18
2020-12-25

In [83]:
#83 write a program to print the previous and next Sunday when current date is provided
import datetime
 
today = datetime.date.today()
prev = today - datetime.timedelta(days=7-today.weekday())
next = today + datetime.timedelta(days=today.weekday())
print("Today:", today)
print("Last Sunday:", prev)
print("Next Sunday:", next)

Today: 2020-12-17
Last Sunday: 2020-12-13
Next Sunday: 2020-12-20

In [85]:
#84 write a program to get start and end of week
today = datetime.date.today()
 
start_of_week = today - timedelta(days=today.weekday())
end_of_week = start_of_week + timedelta(days=6)
print(start_of_week)  # Monday
print(end_of_week)  # Sunday

2020-12-14
2020-12-20

In [86]:
#85 write a program to iterate over object properties 
class Animal(object):
    def __init__(self):
        self.eyes = 2
        self.name = 'Cow'
        self.color= 'Brown'
        self.legs = 4
        self.age  = 3
        self.kids = 1
 
animal = Animal()
animal.tail = 1
 
temp = vars(animal)
for item in temp:
    print(item, ':', temp[item])

eyes : 2
name : Cow
color : Brown
legs : 4
age : 3
kids : 1
tail : 1

In [87]:
#86 write a program to use custom self parameter
class Employee:
    def __init__(person, id, name):
        person.id = id
        person.name = name
 
    def print_details(emp):
        print(str(emp.id) + ' : ' + emp.name)
 
emp = Employee(1, 'Mahesh R')
emp.print_details()

1 : Mahesh R

In [88]:
#87 write a program to check if a string is a number
input = '-34548'
negative = False
if(input[0] == '-'):
    negative = True

if negative == True:
    input = input[1:]
  
try:
    n = int(input)
    print(True)
except ValueError:
    print(False)

True

In [121]:
#88 write a program to remove duplicate tuples from list of tuples
lst = [(1, 2), (5, 7), (3, 6), (1, 2)]
print(list(set([i for i in lst])))

[(1, 2), (5, 7), (3, 6)]

In [122]:
#89 write a program to concatenate tuples to nested tuples
input1 = (3, 4)
input2 = (5, 6)
  
output = ((input1, ) + (input2, ))
print(output)

((3, 4), (5, 6))

In [123]:
#90 write a program to find the difference between sum of cubes and sum of first N natural numbers
n = 6
Sum = (n * (n + 1)) // 2

output = Sum * (Sum - 1)
print(output)

420

In [125]:
#91 write a program to check whether a given string is Heterogram or not
input = 'the big dwarf only jumps'
alphabets = [ ch for ch in input if ( ord(ch) >= ord('a') and ord(ch) <= ord('z') )] 
  
if len(set(alphabets))==len(alphabets): 
    print ('Yes') 
else: 
    print ('No')

Yes

In [128]:
#92 write a program to check if a string is a valid python keyword
import keyword

string = "Mahesh"
# print(keyword.kwlist)
if string in keyword.kwlist:
  print(True)
else:
  print(False)

False

In [131]:
#93 write a program to find the sum of first n natural numbers
n = 6
# To prevent overflow
if (n % 2 == 0) : 
    output = (n / 2) * (n + 1) 
else : 
    output = ((n + 1) / 2) * n 
         
print(int(output))

21

In [132]:
#94 write a program to display the basic trignometric functions
import math
  
a = math.pi/6
   
# sin
print (math.sin(a))
   
# cos
print (math.cos(a))

#tan
print (math.tan(a))

0.49999999999999994
0.8660254037844387
0.5773502691896257

In [134]:
#95 write a program to retrieve numbers from a mixed string and display the highest (using regex)
import re

input = '100klh564abc365bg'
numbers = re.findall('\d+',input)
print(numbers)
numbers = map(int,numbers)
print(max(numbers))

['100', '564', '365']
564

In [136]:
#96 write a program extract dictionaries with Empty String value in K key
input = [{"Abc" : "4", "is" : "good", "best" : "1"},
             {"Abc" : "", "is" : "better", "best" : "8"},
             {"Abc" : "9", "is" : "CS", "best" : "10"}]
K = "Abc"
  
output = list(filter(lambda sub: sub[K] == '', input))
print(output)

[{'Abc': '', 'is': 'better', 'best': '8'}]

In [141]:
#97 write a program for maximum pair sum in a string
input = '6543452345456997653234'
  
input = list(input)
output = max(int(a) + int(b) for a, b in zip(input, input[1:]))
print(output)

18

In [142]:
#98 write a program to extract tuples with only numbers
input = [("90", "34"), ("tsai", "2"), ("55", "1"), ("rohan", "zoheb")] 
  
output = list(filter(lambda sub : all(ele.isdigit() for ele in sub), input)) 
print(output)

[('90', '34'), ('55', '1')]

In [143]:
#99 write a program to show the differences between two lists
list1 = [1, 2, 3, 4, 5, 6] 
list2 = [4, 5, 6, 7, 8] 
  
# prints the missing and additional elements in list2  
print("Missing values in second list:", (set(list1).difference(list2))) 
print("Additional values in second list:", (set(list2).difference(list1))) 
  
# prints the missing and additional elements in list1 
print("Missing values in first list:", (set(list2).difference(list1))) 
print("Additional values in first list:", (set(list1).difference(list2)))

Missing values in second list: {1, 2, 3}
Additional values in second list: {7, 8}
Missing values in first list: {7, 8}
Additional values in first list: {1, 2, 3}

In [149]:
#100 write a program to remove tuples having duplicate first value from given list of tuples
input = [(1, 'TSAI is best'),  
         (2, 'India is best'),  
         (3, 'Karnataka is best.'),  
         (2, 'Pak is best')] 
  
seen = set() 
  
output = [(a, b) for a, b in input 
         if not (a in seen or seen.add(a))] 
print(output)

[(1, 'TSAI is best'), (2, 'India is best'), (3, 'Karnataka is best.')]